@import "./variables.scss";
@import "./responsive.scss";


#root {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
}

html,
body {
  width: 100vw;
  height: 98vh;

  overflow: hidden;
  background: url('../../src/assets/star-wars-bg.svg') no-repeat center center;
  background-size: cover;
  font-family: "montserrat";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
